body{
    background-color: rgb(253, 252, 252);
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    appearance: none; 
}

input[type=number] {
    -moz-appearance: textfield;
}

.counterContainer{
   background-color: #080808;
    min-width:500px;
    width: 50%;
    margin: auto;
}

.clockIcon{
    font-size: 6rem;
}

.secondsContainer{
    margin: 10px 0px;
    font-family: 'Courier New', Courier, monospace;
  height: 200px;
  width: 500px;
 
  background-color: #f3ecec;
  
  border-radius: 50%;
  display: inline-block;
}

.seconds{
    color: #080808;
    padding: 18px 10px;
    font-size: 5rem;
}

::placeholder{
    font-family: 'Courier New', Courier, monospace;
}
.inputValue{
    background-color: #f3ecec;
    color: #080808;
     font-size: large;
     font-weight: 700;
     width: 20%;
     border-style: none;
     outline: none;
    
     
}


.valueBtn{
    background-color: #f3ecec;
    border-color: #f3ecec;
    font-family: 'Courier New', Courier, monospace;
    padding: 11px;
    margin-bottom: 9px;
}